.detail-box {
  border: 2px solid #bdbdbd;
  margin: 0em 0.5vw;
  min-height: 65px;
  padding: 0 1em;
  min-width: 100px;
  border-radius: 5px;
  text-align: center;
  line-height: 1em;
}

.absolute-center {
  text-align: center;
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
