.box-detail {
  text-align: center;
  margin: 1.5em auto 0px auto;
  max-width: 970px;
  padding-bottom: 4rem;
}

.header {
  text-align: center;
  /* font-weight: bold; */
  font-size: 24px;
  color: #333;
  margin-bottom: 0.5em;
}

#edit-button {
  display: none;
  padding-left: 0.25em;
}

#edit-button:hover {
  display: inline-block;
}

.header span:hover + #edit-button {
  display: inline-block;
}

.description {
  white-space: pre-wrap;
  padding-bottom: 2rem;
}
