.minibox-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  min-width: 0.8vw;
  margin: 2vh auto;
}

#edit-button {
  display: inline-block;
  padding-left: 0.25em;
}

.encapsulator {
  margin-top: -24.5px;
  margin-left: -74.5px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  min-width: 580px;
  /* font-size: 1.5em; */
  /* background-size: cover;
  background-position: center; */
  /* height: 10%; */
  /* width: 110%; */
}

#cover-container {
  /* background-image: linear-gradient(to right bottom, #00000070, #00000050),
    url("../../../images/Cover1.jpg"); */
  /* margin: -24.5px -74.5px; */
  /* height: 492px; */
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  height: 65vh;
  /* width: 100%; */
}

#cover {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  /* object-position: 50% 60%; */
}

#content-container {
  /* background-image: linear-gradient(to right bottom, #00000070, #00000050),
    url("../../../images/Cover1.jpg"); */
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
  width: 78%;
  max-width: 1250px;
}

.tag-container {
  margin-bottom: 2rem;
}

.img-tag {
  margin: 0px 1vw;
  height: 50px;
}
