#request-form
  > form /*ant-form ant-form-horizontal*/
  > div /*ant-row ant-form-item*/
  > div /*ant-form-item-control-wrapper ant-col-sm-24 ant-col-md-6*/
  > div /*ant-form-item-control*/
  > span /*ant-form-item-children*/ {
  float: left;
  margin-left: 1em;
}

.request-form-input 
  > div /*ant-row ant-form-item*/
  > div /*ant-form-item-control-wrapper ant-col-sm-24 ant-col-md-14*/
  > div /*ant-form-item-control has-error*/
  > span /*ant-form-item-children*/ 
  > div {
  width: 100%;
}

.request-form-input 
  > div /*ant-row ant-form-item*/
  > div /*ant-form-item-control-wrapper ant-col-sm-24 ant-col-md-14*/
  > div /*ant-form-item-control has-error*/
  > div /*ant-form-explain*/ {
  padding-right: 27%;
}

.request-form-input 
  > div /*ant-row ant-form-item*/
  > div /*ant-form-item-control-wrapper ant-col-sm-24 ant-col-md-14*/
  > div /*ant-form-item-control has-error*/
  > span /*ant-form-item-children*/ {
  float: left;
  margin-left: 1em;
}

#request-form-input-text-area
> div /*ant-row ant-form-item*/
> div /*ant-form-item-control-wrapper ant-col-sm-24 ant-col-md-14*/
> div /*ant-form-item-control*/
> span {
  float: left;
  margin-left: 1em;
  width: 100%;
}
