.container{
    display: block;
    width: 100%;
    height: auto;
}

#selector-box{
    width: 480px;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto 1.5em auto;
}

.imageholder-left-shadow{
    display: flex;
    margin: -6.2px 0px 0px -2px;
}
.imageholder-left-noshadow{
    display: flex;
    margin: 0;
}
.imageholder-right-shadow{
    display: flex;
    margin: -6.2px 0px 0px -9px;
}
.imageholder-right-noshadow{
    display: flex;
    margin: 0px 0px 0px -9px;
}