.certer-icon {
  margin: auto auto;
  top: 50%;
  width: 50px;
  /* height: 100%; */
  display: block;
  z-index: 2;
}

.certer-icon > i {
  margin: 0px auto;
  display: block;
}

.certer-icon > i > svg {
  margin: 0px auto;
  display: block;
}

.ant-upload-text {
  text-align: center;
  display: block;
  cursor: pointer;
  user-select: none;
  /* transition: color 200ms ease; */
  margin-bottom: 0px;
}

#fader-white {
  width: 100%;
  height: auto;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.966);
  z-index: 1;
  display: none;
}

.avatar-uploader {
  /* width: 200px;
  height: 200px; */
  box-shadow: 0 0 0 1px #d9d9d9;
  /* outline: 1px auto #d9d9d9; */
  /* outline-width: 1px; */
  border-radius: 5px;
  position: absolute;
  display: flex;
  transition: box-shadow 200ms ease, color 200ms ease;
  cursor: pointer;
}

.avatar-uploader:hover {
  /* outline: 2px auto #26dbe7; */
  box-shadow: 0 0 0 2px #26dbe7;
  /* outline-width: 2px; */
  color: #26aee7;
  /* display: block; */
  /* color: #2f80ed; */
}

.avatar-uploader:hover #fader-white {
  display: block;
}

#fader-white:hover {
  display: block;
  width: 100%;
  height: auto;
}

.avatar-uploader:active {
  /* outline: 3px auto #2f80ed; */
  box-shadow: 0 0 0 3px #2f80ed;
  color: #2f52ed;
  /* outline-width: 3px; */
  /* box-shadow: 20px 0px 5px #ff00ff; */
  /* animation: borderFade 700ms linear 0ms 1 normal forwards; */
  /* animation-delay: 3000ms; */
}

/* @keyframes borderFade {
  0% {
    border-width: 5px;
    border: solid #2f80ed;
    color: #2f52ed;
  }
  100% {
    border-width: 2px;
  }
} */
