:root {
  --carousel-heigh: 50vh;
}

.page--wrapper {
  margin: -24px -74px;
  min-height: calc(100vh - 26px);
}
.top-ads {
  width: 100%;
  height: var(--carousel-heigh);
  margin-bottom: 3rem;
}

.top-ads--item {
  text-align: center;
  height: var(--carousel-heigh);
  background-color: #fff;
}

.top-ads--item--text {
  position: absolute;
  font-size: 3.5rem;
  /* margin-left: auto;
  margin-right: 1em; */
  color: #fff;
  white-space: pre-wrap;
  z-index: 5;
}

.top-ads--item--button {
  position: absolute;
  z-index: 5;
  font-size: 2rem;
}

.top-ads--item--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.mid-howto {
  width: 100%;
  margin-bottom: 5rem;
}

.mid-howto > h1 {
  display: table;
  margin: 0 auto 2rem auto;
  font-size: 2rem;
}

.mid-howto--stpe-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.mid-howto--stpe-wrapper--step {
  margin: 0 4vw;
}

.mid-howto--stpe-wrapper--step--icon {
  font-size: 6rem;
  /* color: #26a1e7; */
  margin: 0 auto;
  display: table;
}

.mid-howto--stpe-wrapper--step > span {
  font-size: 1.25rem;
  margin: 0 auto;
  display: table;
  /* color: #26a1e7; */
}

.footer {
  background-color: #666;
  margin: -24px -74px;
  width: 100%;
  height: 10vh;
  bottom: 0px;
  position: absolute;
}

.footer span {
  display: block;
  margin: 0 auto auto 10vw;
  padding-top: 4.25vh;
  color: #fff;
}

.header {
  height: 450px;
  /* width: 100%; */
  background-image: linear-gradient(to right bottom, #00000070, #00000050),
    url("../../images/home-header.jpg");
  /* background-color: #000000e5; */
  background-size: cover;
  background-position: center;
  position: relative;
  margin: -24.5px -74.5px;
}

.text-box {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 200;
  /* letter-spacing: 35px; */

  animation-name: moveInLeft;
  animation-duration: 1s;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 15px;

  animation-name: moveInRight;
  animation-duration: 1s;
}

.heading-primary-sub > a {
  color: white;

  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  /* border-radius: 15px; */

  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition: color 0.2s ease-out, background 2s ease-in;
  -ms-transition: color 0.2s ease-out, background 2s ease-in;
  -moz-transition: color 0.2s ease-out, background 2s ease-in;
  -webkit-transition: color 0.2s ease-out, background 2s ease-in;
  /* ...and now for the proper property */
  transition: color 0.2s ease-out, background 2s ease-in;
}

.heading-primary-sub > a:hover {
  color: rgb(1, 199, 1);
  /* background: grey; */
}
