.encapsulator {
  margin-top: -24.5px;
  margin-left: -74.5px;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

#cover-container {
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  height: 65vh;
}

#cover {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

#content-container {
  margin: 0px auto;
  max-width: 70vw;
}

#avatar {
  border-radius: 50%;
  display: block;
  width: 200px;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#profileName {
  font-family: kanit;
  font-size: 3em;
  text-align: center;
}

/* #profileName::after {
  content: url("../../../images/icons/camera.svg");
  margin: 0px 1vw;
} */

.center-text {
  text-align: center;
  width: 90%;
  margin: 0px auto;
  font-size: 1.1em;
  color: #555;
  font-weight: lighter;
  white-space: pre;
}

.absolute-center {
  text-align: center;
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.flow-left {
  float: left;
  text-align: left;
  display: block;
  font-size: 1em;
}

.flow-right {
  float: right;
  text-align: right;
  display: block;
  font-size: 1em;
}

.detail-box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 550px;
  margin: 1.5em auto;
  font-size: 1.1em;
}

.detail-box {
  border: 2px solid #bdbdbd;
  margin: 0.6em auto;
  flex-grow: 0px;
  flex-shrink: 0px;
  width: 175px;
  height: 70px;
  border-radius: 5px;
}

.star-item {
  text-align: center;
  margin: 3px auto;
  width: 100%;
  display: block;
}

.line img {
  width: 80%;
  display: block;
  margin: 1em auto;
}

#edit-button {
  width: 25px;
  height: 25px;
  display: none;
  position: absolute;
  margin-top: calc(0px - 14px - 2em - 5px);
  margin-left: 7em;
}

.about-title {
  display: table;
  justify-content: center;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text-title {
  display: table;
  font-size: 2em;
  color: #444;
}

.about-title:hover #edit-button {
  display: table;
}

#edit-button:hover {
  display: table;
}

.about div div {
  text-align: center;
  font-size: 1.7em;
  color: #444;
  display: block;
}

.about div {
  width: 90%;
  display: block;
  margin: 0px auto;
}

.about div p {
  margin-bottom: 0.3em;
}

#text-align-right {
  width: 50%;
  float: left;
  text-align: right;
  font-size: 1.3em;
  font-weight: lighter;
  color: #444;
  margin: 0px 0px 14px 0px;
}

#text-align-left {
  width: 50%;
  float: right;
  text-align: left;
  font-size: 1.3em;
  font-weight: lighter;
  padding-left: 1em;
  color: #444;
  margin: 0px 0px 14px 0px;
}

.column-span {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
}

.column-span span {
  height: 25px;
  margin: 0.1em auto auto auto;
}

.social-icon {
  width: 25px;
  height: 25px;
  float: left;
}

.social-info {
  display: table-cell;
  text-align: left;
  height: 25px;
  vertical-align: middle;
  padding-left: 1em;
}
