/* light blue #26dbe7 */
/* darker blue #26aee7 */
/* even darker blue #2f80ed */
/* dark blue #2f52ed */

#close-button {
  float: right;
  margin: 0.2em 0 0 0.2em;
}

#close-button:active {
  color: #2f80ed;
}

.image {
  object-fit: cover;
  /* margin: 1vh 0; */
}
