.nav {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  z-index: 999;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
}

#bar-icon {
  font-size: 40px;
  margin-right: 1rem;
  display: none;
  color: #26dbe7;
}

#nav-logo-mini > img {
  height: 2rem;
}

#nav-logo-mini > span {
  background: linear-gradient(to right, #26dbe7 0%, #26a1e7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 0.5rem;
  font-size: 32px;
  display: inline-block;
  position: relative;
  top: 7px;
}

.nav .nav-header {
  display: inline-block;
}

/* .nav > .nav-header .nav-title {
  display: inline-block;
  color: #fff;
  padding: 10px 10px 10px 10px;
} */

#nav-logo {
  /* TONGKA */
  /* font-family: Ubuntu; */
  display: inline-block;
  position: relative;
  /* padding-top: -100px; */
  top: -17px;
  left: 1em;
  /* padding: 10px, -20px, 10px, 10px; */
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: normal;
  letter-spacing: 0.109em;
  text-decoration: none;
  /* fade logoblue */
}

#nav-logo span {
  position: relative;
  text-decoration: none;
  top: 3px;
  background: linear-gradient(to right, #26dbe7 0%, #26a1e7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 0.5rem;
}

#nav-logo span:hover {
  text-decoration: none;
}

#nav-logo span:visited {
  text-decoration: none;
}

/* .nav > .nav-btn {
  display: none;
} */

.nav > .nav-links {
  display: inline-block;
  float: right;
  font-size: 18px;
  position: relative;
  right: 2em;
}

.nav .nav-links a {
  display: inline-block;
  padding: 12px 10px 12px 10px;
  text-decoration: none;
  color: #26a1e7;
}

/* .nav > .nav-header > .nav-title > a {
  display: inline-block;
  font-size: 22px;
  text-decoration: none;
  color: #efefef;
} */

.nav > .nav-links a:hover {
  /* background-color: rgb(209, 252, 255); */
  color: rgb(27, 91, 211);
}

.nav > .nav-links span {
  color: #26a1e7;
  display: inline-block;
  margin: auto auto auto 10px;
}

.nav > .nav-links span:hover {
  color: rgb(27, 91, 211);
  cursor: pointer;
}

#userbutton-menu {
  /* position: fixed; */
  position: relative;
  /* top: 14px;
  left: -40px; */
  /* top: 64px; */
  /* left: 86%;   */
  margin: 7px 0px 0px -40px;
  font-family: "Kanit";
}

/* .userbutton-text{
  color: #26A1E7;
}

.userbutton-text:hover{
  color: rgb(27, 91, 211);
} */

.nav > #nav-check {
  display: none;
}

.nav-links-vertical {
  display: flex;
  flex-flow: column wrap;
}

.nav-links-vertical > * {
  font-size: 1rem;
  margin: 0 auto 1rem 0;
  color: #26a1e7;
}

.nav-links-vertical > *:hover {
  color: rgb(27, 91, 211);
}

.nav-links-vertical > span > a > span {
  color: #26a1e7;
}

.nav-links-vertical > span > a > span:hover {
  color: rgb(27, 91, 211);
}
@media (max-width: 880px) {
  #bar-icon {
    display: inline-block;
  }
  .nav > .nav-links {
    display: none;
  }
}
