.result-area-container {
  max-width: 70vw;
  margin: auto;
}

.item-container {
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  /* max-width: 650px; */
}

.item-image-container {
  max-width: 46%;
  /* max-height: 185px; */
  /* height: 185px; */
  /* margin: 0px auto 0px auto; */
}

.item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item-detail {
  /* max-width: 590px; */
  width: 50%;
  /* margin: 0px auto 0px auto; */
  margin-left: 4%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.item-detail h2 {
  margin-bottom: 0px;
}

.item-detail p {
  margin-bottom: 0em;
}

.item-detail-description {
  text-overflow: -o-ellipsis-lastline;
  /* max-height: 66px; */
  height: calc(1.174rem * 4);
  line-height: 1.2rem;
  overflow: hidden;
}

.item-detail-left-text {
  padding-right: 1.5em;
}

.tags-container {
  padding-top: 5px;
}

.img-tag {
  margin: 0px 0.6em 0px 0px;
}

.search-item-box {
  margin: 1em;
  border: none;
}

/* @media (max-width: 1060px) {
  .item-image {
    padding-right: 0em;
  }
  .item-detail {
    width: 100%;
  }
} */
