.area-container {
  margin: 0px auto;
  max-width: 970px;
}

.avatar {
  width: 150px;
  height: 150px;
  margin: 1em 1.5em;
  text-align: center;
}

.avatar-img {
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.profile-detail {
  text-align: left;
  height: calc(150px + 2em - 0.5vh - 24px);
}

.owner-detail-container {
  height: 100%;
}

.owner-name {
  font-size: 24px;
  color: #333;
  margin-top: 0.5vh;
}

.owner-item-line-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 100%;
}

.owner-item-line {
  margin: auto 0px;
}

.owner-bio {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  line-height: 1.2em;
  height: 2.4em;
  margin: auto 0px;
  white-space: pre;
  /* margin-bottom: 0.4vh; */
}

.social-detail-container-antd {
  height: 100%;
}

.social-row-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 100%;
  padding: 2.5em;
}

.social-col-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .avatar {
    float: center;
  }
  #area-container-antdrow {
    height: 370px;
  }
}

@media screen and (max-width: 768px) {
  .avatar {
    float: center;
  }
  .social-row-container {
    padding: 0em;
    justify-content: flex-start;
  }
  .social-col-container {
    flex-flow: row wrap;
    height: auto;
  }
  .social-detail-container-antd {
    height: auto;
  }
}

.social-icon {
  width: 1.1em;
  height: 1.1em;
  margin: 0.2em 0.5em;
}
