.event-item-container {
  /* border: solid 2px #000; */
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.service-title {
  color: #222;
}

.middle-flex-item {
  margin-left: 1em;
}

.middle-flex-item h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.text-overflow::after {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 40px;
}

.service-detail {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

.service-detail h2 {
  margin-top: 0.5em;
}

#service-image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 1em 0.5em 1em 1em;
  object-fit: cover;
}

.vertical-line {
  margin: auto 1em;
}

#event-description {
  white-space: wrap;
  /* line-height: 1.2em; */
  width: 200px;
  max-height: calc(8.8em);
  overflow: hidden;
  scrollbar-width: none;
}

.event-detail-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.event-detail {
  margin-top: 2em;
  margin-bottom: 4em;
  margin-left: 1em;
  margin-right: 1em;
  position: relative;
  /* width: 25%; */
  /* min-width: 200px; */
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.left-lable {
  color: #222;
  /* float: right; */
  text-align: left;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.left-lable::after {
  content: attr(textcontent);
  color: rgba(0, 0, 0, 0.65);
  display: inline-block;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.buttons-container {
  position: absolute;
  top: 11em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.button {
  margin: 0 0 0 0.5em;
}

.button--sendphoto-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

@media screen and (max-width: 1215px) {
  .vertical-line {
    display: none;
  }
  .text-overflow::after {
    width: 100%;
  }
}

@media screen and (max-width: 1170px) {
  .event-item-container {
    justify-content: space-evenly;
  }
  .text-overflow::after {
    width: 100%;
  }
  .event-detail-container {
    justify-content: flex-start;
  }
  .service-detail {
    width: 100%;
  }
  .middle-flex-item h2 {
    width: 100%;
  }
  .event-detail-container {
    width: 100%;
  }
  .event-detail {
    margin: 2em 0 0 0;
    padding: 0 1em;
  }
  .buttons-container {
    position: relative;
    top: auto;
    margin: 0.5em;
    width: 100%;
  }
}

@media screen and (max-width: 585px) {
  .middle-flex-item {
    margin: 0 auto;
    padding: 0 1em;
    width: 100%;
  }
  .event-item-container {
    justify-content: left;
  }
  .text-overflow::after {
    width: 20px;
  }
  .event-detail-container {
    justify-content: left;
  }
  .event-detail {
    margin: 0.5em 0;
    padding: 0 1em;
  }
  #event-description {
    width: 100%;
  }
}
